.results{
    
    width:100%;
    height:auto;
    background-color: rgba(152, 226, 243, 0.122);
    padding: 0 30px;
    box-sizing: border-box;
    gap:20px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
}